<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="abc-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `abc-component`
     * A simple ABC component made in Polymer.
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbcComponent extends Polymer.Element {
      static get is() { return 'abc-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'abc-component'
          }
        };
      }
    }

    window.customElements.define(AbcComponent.is, AbcComponent);
  </script>
</dom-module>
