<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">

<dom-module id="abc-component">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .title{
        width: 100%;
        height: 60px;
      }
      :host .title h1{
        color: black;
      }
      :host .users-table{
        background: cornflowerblue;
        width: 100%;
        height:300px;
      }
      :host .users-table .row{
        width: 100%;
        height: 30px;
        display: table;
      }
      :host .users-table .row div{
        display: table-cell;
        vertical-align: middle;
        text-align:center;
        margin: 0 auto;
        color: snow;
      }
      :host .users-table .table{
        width: 100%;
        text-align: center;
      }
      :host .users-table .table-head div{
        color: white;
        font-weight:bolder;
        font-size: calc( 1em + 10% );
        text-align: center;
        display: inline-block;
      }
      .small-cell{
        width: 3%;
      }
      .medium-cell{
        width: 20%;
      }
      .big-cell{
        width: 27%;
      }
      .delete{
        color: crimson !important;
        font-weight: bolder;
        cursor: pointer;
      }
      .info{
        color: yellowgreen !important;
        font-weight: bolder;
        cursor: pointer;
      }
    </style>
    <div class="title">
      <h1>Gestión de usuarios</h1>
    </div>
    <div class="users-table">

      <div class="table">

        <div class="row table-head">
          <div class="small-cell">Clave</div>
          <div class="medium-cell">Nombre</div>
          <div class="medium-cell">Apellidos</div>
          <div class="medium-cell">Teléfono</div>
          <div class="big-cell">Correo</div>
          <div class="small-cell">&nbsp;</div>
          <div class="small-cell">&nbsp;</div>
        </div>

        <dom-repeat items="{{users}}" as="user">
          <template>

            <template is="dom-if" if="[[isPair(index)]]">
              <div class="row">
                <div class="small-cell">{{user.key}}</div>
                <div class="medium-cell">{{user.firstname}}</div>
                <div class="medium-cell">{{user.lastname}}</div>
                <div class="medium-cell">{{user.phone}}</div>
                <div class="big-cell">{{user.email}}</div>
                <div class="small-cell info" data-user$="{{index}}" on-click="info">?</div>
                <div class="small-cell delete" data-user$="{{index}}" on-click="delete">x</div>
              </div>
            </template>

            <template is="dom-if" if="[[!isPair(index)]]">
              <div class="row" style="background: #567fca;">
                <div class="small-cell">{{user.key}}</div>
                <div class="medium-cell">{{user.firstname}}</div>
                <div class="medium-cell">{{user.lastname}}</div>
                <div class="medium-cell">{{user.phone}}</div>
                <div class="big-cell">{{user.email}}</div>
                <div class="small-cell info" data-user$="{{index}}" on-click="info">?</div>
                <div class="small-cell delete" data-user$="{{index}}" on-click="delete">x</div>
              </div>
            </template>
            
          </template>
        </dom-repeat>

      </div>

    </div>
  </template>

  <script>
    class AbcComponent extends Polymer.Element {
      static get is() { return 'abc-component'; }
      static get properties() {
        return {
          users: {
            type: Object,
            value: [
              {
                key: "1",
                firstname: "Luis",
                lastname: "Kelly Diaz",
                phone: "N/A",
                email: "luiskd_98@hotmail.com"
              },
              {
                key: "2",
                firstname: "Otro",
                lastname: "Usuario",
                phone: "N/A",
                email: "N/A"
              },
              {
                key: "3",
                firstname: "Un usuario",
                lastname: "Mas",
                phone: "N/A",
                email: "N/A"
              },
              {
                key: "4",
                firstname: "De nuevo",
                lastname: "Otro usuario",
                phone: "N/A",
                email: "N/A"
              }
            ]
          }
        };
      }
      isPair(n){
        return n%2==0;
      }
      delete(event){
        let user = event.target.dataset.user;
        let userData = this.users[user];
        let fullName = this.users[user].firstname + " " + this.users[user].lastname;
        let condition = confirm(`¿De verdad quiere eliminar el siguiente registro?\nNombre: ${fullName}\nTeléfono: ${userData.phone}\nCorreo: ${userData.email}`)
        if(condition){
          let newUsers = this.users.filter((e,i)=>{
            return i!=user;
          });
          //some
          this.set("users",newUsers);
          this.users = this.users.slice();
        }
      }
      info(event){
        let user = event.target.dataset.user;
        let userData = this.users[user];
        let fullName = this.users[user].firstname + " " + this.users[user].lastname;
        alert(`Información del usuario: \n\nNombre: ${fullName}\nTeléfono: ${userData.phone}\nCorreo: ${userData.email}`)
      }
    }
    //Contraseña WiFi: Wmovil $9182736450
    window.customElements.define(AbcComponent.is, AbcComponent);
  </script>
</dom-module>
